/* Contedor de informacion del libro */
#book-container{
    height: 30vh;
    transition: all 0.5s ease-in-out;
}
#book-container img{
    width: 70%;
}
#book-container .information{
    display: none;
    justify-content: space-evenly;
}
#book-container .information > p{
    flex: 1;
}
.container-buttons{
    padding: 0 25vw;
    transition: all 0.5s ease-in-out;
}
#book-container.showing-info{
    height: 50vh;
    transition: all 0.5s ease-in-out;
}
#book-container.showing-info .information{
    display: flex;
}
#book-container.showing-info .container-buttons{
    transition: all 0.5s ease-in-out;
    padding: 0;
}