.all-books {
    display: flex;
    overflow-x: auto;
    margin: 0 45px;
    padding-bottom: 15px;
}

.book-title {
    background-color: rgb(255, 34, 63);
    width: 100%;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
}

.book-title>h4 {
    margin-bottom: 8px;
    color: white;
    text-align: left;
}

.book-title>p {
    margin-bottom: 5px;
}
.rotation-3d{
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}
.rotation-3d.visible{
    opacity: 1;
    visibility: visible;
    animation: cd-3d-rotation 0.5s 0.3s;
    transform-origin: center top;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
    height: auto;
}